* {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	padding-left: 3px;
	height: 100%;
	width: 97%;
	position:absolute;
	background-color: rgb(244,244,244);
}
.header{
	width: 100%;
	height: 15.189%;
}
.content{
	height: 68.421%;
	width:100%;
}
.foot{
	height: 16.39%;
	width: 100%;
}
.header-left{
	width: 80.36%;
	height: 100%;
	float: left;
}
.header-right{
	width: 19.64%;
	height: 100%;
	float: left;
}
#image-logo{
	margin-top: 0px;
	right: 0;
	float: right;
}
h2{
	font-family:sans-serif,"楷体";
	font-size:80px;
	margin-left: 42%;
}
.content-left{
	width: 15%;
	background-color:rgb(248,241,185);
	height: 100%;
	float: left;
}
#image-tuan{
	width: 100%;
	height: 102%;
}
.content-right{
	width: 85%;
	height: 100%;
	float: left;
	background-color:rgb(248,241,185);
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}
li{
	height: 15%;
}
li a:link {
	font-weight:bold;
	background-color:rgb(4,248,136); 
	width:100%;
	height: 100%;
	color: rgb(151,83,0);
	text-align:center; 
	text-decoration: none;
	text-transform:uppercase;
}
li a:visited {
	font-weight:bold;
	background-color:rgb(4,248,136); 
	width:100%;
	height: 100%;
	color: rgb(151,83,0);
	text-align:center; 
	text-decoration: none;
	text-transform:uppercase;
}
li a:hover {
	color: rgb(248,4,132); 
}
li a:active {
	background-color:rgb(4,248,136); 
}
.content-left-top{
	width: 100%;
	height: 7.69%;
}
.content-left-foot{
	position: absolute;
	box-sizing:border-box;
	width: 75%;
	height: 70%; 
	display: inline-block;
	cursor:pointer; 
}
.content-left-time {
	height: 100%;
	width: 100%;
}
dl {
	height: 100%;
	width: 100%;
}
dd {
	width: 100%;
	height: 16%;
	text-align: center;
}
.mulu{
	padding-top: 9%;
	font-size: 0.5em;
}
#image-week{
	width: 101%;
	height: 100%;
}
.content-right-top{
	width: 100%;
	height: 7.69%;
}
.content-right-foot{
	width: 100%;
	height: 92.31%;
}
.baoban{
	margin-left: 1.5%;
	height: 16.6%;
	width: 100%;
}
.choice {
	display: inline-block;
	height: 95.5%; 
	background-color: rgb(255,255,255);
	color: #000;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	float: left;
	margin: 0 1.7px;
}
.choice span {
	position: relative;
	top: 20px;
}
.foot-left{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	color: rgb(151,83,0);
}
.foot-right{
	width: 75%;
	height: 100%;
	float: left;
	color: rgb(151,83,0);
}
#image-hh{
	width: 100%;
	height: 100%;
}
#image-foot{
	width: 100%;
	height: 100%;
}

/* 展示层 menu */

.hw-overlay {
	display:none; 
	position: fixed; 
	top:0;left:0;
	width:100%;
	height:100%; 
	background-color: rgba(0,0,0,0.85);
	z-index:10;
}
.hw-layer-wrap {
	box-sizing:border-box; 
	width:70%; 
	height: 80%;
	position:absolute;
	left:0;
	top:10%; 
	border-radius:3px; 
	background-color:rgb(4,248,136); 
	box-shadow:1px 2px 4px 0 rgba(255,235,78,0.12); 
	padding:10% 5%;
}
.hwLayer-close {
	position:absolute; 
	right:20px; 
	top:20px; 
	width:20px; 
	height:20px; 
	cursor:pointer; 
	font-size:20px; 
	color:#000;
	font-weight: 700;
	border: 1px solid rgba(4,248,136,0.4);
	background-color: rgb(4,248,136);
	box-shadow:1px 2px 4px 0 rgba(4,248,136,0.9); 
}

@media only screen and (min-width: 401px) {

dd {
	font-size: 1.2em;
}
.choice{
	width:13%;
}
.foot-left{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	color: rgb(151,83,0);
	font-size: 1.1em;
}
.foot-right{
	width: 75%;
	height: 100%;
	float: left;
	color: rgb(151,83,0);
	font-size: 1em;
}
#zhuyi{
	margin:12% 7% 8% 5%;
}
#tongzhi{
	margin:50% 2% 8% 2%;
}
li a {
	font-size: 2.6em;
}

}
@media only screen and (min-width: 366px) and (max-width: 400px) {

dd {
	font-size: 1em;
}
.choice{
	width:12.8%;
}
.foot-left{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	color: rgb(151,83,0);
	font-size: 1em;
}
.foot-right{
	width: 75%;
	height: 100%;
	float: left;
	color: rgb(151,83,0);
	font-size: 0.9em;
}
#zhuyi{
	margin:12% 7% 10% 5%;
}
#tongzhi{
	margin:50% 2% 10% 2%;
}
li a {
	font-size: 2.4em;
}

}
@media only screen and (min-width: 341px) and (max-width: 365px){

dd {
	font-size: 1.1em;
}
.choice{
	width:12.82%;
}
.foot-left{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	color: rgb(151,83,0);
	font-size: 1em;
}
.foot-right{
	width: 75%;
	height: 100%;
	float: left;
	color: rgb(151,83,0);
	font-size: 0.9em;
}
#zhuyi{
	margin:12% 8% 8% 5%;
}
#tongzhi{
	margin:50% 2% 8% 2%;
}
li a {
	font-size: 2.2em;
}

}
@media only screen and (max-width: 340px) {

dd {
	font-size: 0.9em;
}
.choice {
	width:12.64%;
}
.choice span {
	position: relative;
	top: 15px;
}
.foot-left{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	color: rgb(151,83,0);
	font-size: 0.9em;
}
.foot-right{
	width: 75%;
	height: 100%;
	float: left;
	color: rgb(151,83,0);
	font-size: 0.8em;
}
#zhuyi{
	margin:10% 8% 0 5%;
}
#tongzhi{
	margin:45% 1% 0 2%;
}
li a {
	font-size: 2em;
}

}